<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
<div class="container">
<h1>Responses</h1>

<table class="u-full-width">
	<thead>
		<tr>
			<th><strong>Command</strong></th>
			<th>Response</th>
		</tr>
	</thead>
	<tbody>
	{{ range $r := . }}
		<tr>
			<td><small>
				{{ range $c := $r.Cmds }}
					{{$c}}, 
				{{ end }}
				</small>
			</td>
			<td></td>
		</tr>
	   
		{{ range $o := $r.Messages }}
		<tr>
			<td></td>
			<td>{{$o}}</td>
		</tr>
		{{ end }}
	{{ end }}
	</tbody>
</table>
</div>